.tip.visible {
  position: absolute;
  display: flex;

  width: 20%;
  height: 20%;
  border: 2px #fff solid;
  border-radius: 10px;
  right: 10px;
  bottom: 10px;

  align-items: center;
  flex-direction: column;
  background-color: #000;
  gap: 10%;
  padding: 10px;

  text-transform: uppercase;
}

.tip.hidden {
  display: none;
}
